body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, span, div, img, input, form, textarea {
  margin: 0;
}

.mdv_grid-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.mdv_row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.mdv_row > .mdv_cell {
  width: 100%;
  box-sizing: border-box;
}
.mdv_row > .mdv_cell.small-1 {
  width: 8.33%;
}
.mdv_row > .mdv_cell.small-2 {
  width: 16.66%;
}
.mdv_row > .mdv_cell.small-3 {
  width: 25%;
}
.mdv_row > .mdv_cell.small-4 {
  width: 33.333%;
}
.mdv_row > .mdv_cell.small-5 {
  width: 41.666%;
}
.mdv_row > .mdv_cell.small-6 {
  width: 50%;
}
.mdv_row > .mdv_cell.small-7 {
  width: 58.333%;
}
.mdv_row > .mdv_cell.small-8 {
  width: 66.666%;
}
.mdv_row > .mdv_cell.small-9 {
  width: 75%;
}
.mdv_row > .mdv_cell.small-10 {
  width: 83.333%;
}
.mdv_row > .mdv_cell.small-11 {
  width: 91.666%;
}
.mdv_row > .mdv_cell.small-12 {
  width: 100%;
}
.mdv_row > .mdv_cell.small-auto {
  flex: 1 0 auto;
  width: unset;
}
.mdv_row > .mdv_cell.small-shrink {
  flex: 0 1 auto;
  width: unset;
}
@media print, screen and (min-width: 800px) {
  .mdv_row > .mdv_cell.medium-1 {
    width: 8.33%;
  }
  .mdv_row > .mdv_cell.medium-2 {
    width: 16.66%;
  }
  .mdv_row > .mdv_cell.medium-3 {
    width: 25%;
  }
  .mdv_row > .mdv_cell.medium-4 {
    width: 33.333%;
  }
  .mdv_row > .mdv_cell.medium-5 {
    width: 41.666%;
  }
  .mdv_row > .mdv_cell.medium-6 {
    width: 50%;
  }
  .mdv_row > .mdv_cell.medium-7 {
    width: 58.333%;
  }
  .mdv_row > .mdv_cell.medium-8 {
    width: 66.666%;
  }
  .mdv_row > .mdv_cell.medium-9 {
    width: 75%;
  }
  .mdv_row > .mdv_cell.medium-10 {
    width: 83.333%;
  }
  .mdv_row > .mdv_cell.medium-11 {
    width: 91.666%;
  }
  .mdv_row > .mdv_cell.medium-12 {
    width: 100%;
  }
  .mdv_row > .mdv_cell.medium-auto {
    flex: 1 0 auto;
    width: unset;
  }
  .mdv_row > .mdv_cell.medium-shrink {
    flex: 0 1 auto;
    width: unset;
  }
}
@media print, screen and (min-width: 1200px) {
  .mdv_row > .mdv_cell.large-1 {
    width: 8.33%;
  }
  .mdv_row > .mdv_cell.large-2 {
    width: 16.66%;
  }
  .mdv_row > .mdv_cell.large-3 {
    width: 25%;
  }
  .mdv_row > .mdv_cell.large-4 {
    width: 33.333%;
  }
  .mdv_row > .mdv_cell.large-5 {
    width: 41.666%;
  }
  .mdv_row > .mdv_cell.large-6 {
    width: 50%;
  }
  .mdv_row > .mdv_cell.large-7 {
    width: 58.333%;
  }
  .mdv_row > .mdv_cell.large-8 {
    width: 66.666%;
  }
  .mdv_row > .mdv_cell.large-9 {
    width: 75%;
  }
  .mdv_row > .mdv_cell.large-10 {
    width: 83.333%;
  }
  .mdv_row > .mdv_cell.large-11 {
    width: 91.666%;
  }
  .mdv_row > .mdv_cell.large-12 {
    width: 100%;
  }
  .mdv_row > .mdv_cell.large-auto {
    flex: 1 0 auto;
    width: unset;
  }
  .mdv_row > .mdv_cell.large-shrink {
    flex: 0 1 auto;
    width: unset;
  }
}
.mdv_row.malign-start {
  justify-content: flex-start;
}
.mdv_row.malign-end {
  justify-content: flex-end;
}
.mdv_row.malign-center {
  justify-content: center;
}
.mdv_row.malign-around {
  justify-content: space-around;
}
.mdv_row.malign-between {
  justify-content: space-between;
}
.mdv_row.salign-start {
  align-items: flex-start;
}
.mdv_row.salign-end {
  align-items: flex-end;
}
.mdv_row.salign-center {
  align-items: center;
}
.mdv_row.salign-stretch {
  align-items: stretch;
}
.mdv_row.mdv_margin-row {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  width: calc(100% + (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell {
  width: calc(100% - (2 * 0.625rem));
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.mdv_row.mdv_margin-row > .mdv_cell.small-1 {
  width: calc(8.33% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-2 {
  width: calc(16.66% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-3 {
  width: calc(25% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-4 {
  width: calc(33.333% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-5 {
  width: calc(41.666% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-6 {
  width: calc(50% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-7 {
  width: calc(58.333% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-8 {
  width: calc(66.666% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-9 {
  width: calc(75% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-10 {
  width: calc(83.333% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-11 {
  width: calc(91.666% - (2 * 0.625rem));
}
.mdv_row.mdv_margin-row > .mdv_cell.small-12 {
  width: calc(100% - (2 * 0.625rem));
}
@media print, screen and (min-width: 800px) {
  .mdv_row.mdv_margin-row > .mdv_cell.medium-1 {
    width: calc(8.33% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-2 {
    width: calc(16.66% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-3 {
    width: calc(25% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-4 {
    width: calc(33.333% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-5 {
    width: calc(41.666% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-6 {
    width: calc(50% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-7 {
    width: calc(58.333% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-8 {
    width: calc(66.666% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-9 {
    width: calc(75% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-10 {
    width: calc(83.333% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-11 {
    width: calc(91.666% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.medium-12 {
    width: calc(100% - (2 * 0.625rem));
  }
}
@media print, screen and (min-width: 1200px) {
  .mdv_row.mdv_margin-row > .mdv_cell.large-1 {
    width: calc(8.33% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-2 {
    width: calc(16.66% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-3 {
    width: calc(25% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-4 {
    width: calc(33.333% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-5 {
    width: calc(41.666% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-6 {
    width: calc(50% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-7 {
    width: calc(58.333% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-8 {
    width: calc(66.666% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-9 {
    width: calc(75% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-10 {
    width: calc(83.333% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-11 {
    width: calc(91.666% - (2 * 0.625rem));
  }
  .mdv_row.mdv_margin-row > .mdv_cell.large-12 {
    width: calc(100% - (2 * 0.625rem));
  }
}
.mdv_row.mdv_padding-row .mdv_cell {
  padding: calc(0.625rem / 2) 0.625rem;
}

.mdv_col {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
}
.mdv_col > .mdv_cell {
  height: 100%;
  box-sizing: border-box;
}
.mdv_col > .mdv_cell.small-1 {
  height: 8.33%;
}
.mdv_col > .mdv_cell.small-2 {
  height: 16.66%;
}
.mdv_col > .mdv_cell.small-3 {
  height: 25%;
}
.mdv_col > .mdv_cell.small-4 {
  height: 33.333%;
}
.mdv_col > .mdv_cell.small-5 {
  height: 41.666%;
}
.mdv_col > .mdv_cell.small-6 {
  height: 50%;
}
.mdv_col > .mdv_cell.small-7 {
  height: 58.333%;
}
.mdv_col > .mdv_cell.small-8 {
  height: 66.666%;
}
.mdv_col > .mdv_cell.small-9 {
  height: 75%;
}
.mdv_col > .mdv_cell.small-10 {
  height: 83.333%;
}
.mdv_col > .mdv_cell.small-11 {
  height: 91.666%;
}
.mdv_col > .mdv_cell.small-12 {
  height: 100%;
}
.mdv_col > .mdv_cell.small-auto {
  flex: 1 0 auto;
  height: unset;
}
.mdv_col > .mdv_cell.small-shrink {
  flex: 0 1 auto;
  height: unset;
}
@media print, screen and (min-width: 800px) {
  .mdv_col > .mdv_cell.medium-1 {
    height: 8.33%;
  }
  .mdv_col > .mdv_cell.medium-2 {
    height: 16.66%;
  }
  .mdv_col > .mdv_cell.medium-3 {
    height: 25%;
  }
  .mdv_col > .mdv_cell.medium-4 {
    height: 33.333%;
  }
  .mdv_col > .mdv_cell.medium-5 {
    height: 41.666%;
  }
  .mdv_col > .mdv_cell.medium-6 {
    height: 50%;
  }
  .mdv_col > .mdv_cell.medium-7 {
    height: 58.333%;
  }
  .mdv_col > .mdv_cell.medium-8 {
    height: 66.666%;
  }
  .mdv_col > .mdv_cell.medium-9 {
    height: 75%;
  }
  .mdv_col > .mdv_cell.medium-10 {
    height: 83.333%;
  }
  .mdv_col > .mdv_cell.medium-11 {
    height: 91.666%;
  }
  .mdv_col > .mdv_cell.medium-12 {
    height: 100%;
  }
  .mdv_col > .mdv_cell.medium-auto {
    flex: 1 0 auto;
    height: unset;
  }
  .mdv_col > .mdv_cell.medium-shrink {
    flex: 0 1 auto;
    height: unset;
  }
}
@media print, screen and (min-width: 1200px) {
  .mdv_col > .mdv_cell.large-1 {
    height: 8.33%;
  }
  .mdv_col > .mdv_cell.large-2 {
    height: 16.66%;
  }
  .mdv_col > .mdv_cell.large-3 {
    height: 25%;
  }
  .mdv_col > .mdv_cell.large-4 {
    height: 33.333%;
  }
  .mdv_col > .mdv_cell.large-5 {
    height: 41.666%;
  }
  .mdv_col > .mdv_cell.large-6 {
    height: 50%;
  }
  .mdv_col > .mdv_cell.large-7 {
    height: 58.333%;
  }
  .mdv_col > .mdv_cell.large-8 {
    height: 66.666%;
  }
  .mdv_col > .mdv_cell.large-9 {
    height: 75%;
  }
  .mdv_col > .mdv_cell.large-10 {
    height: 83.333%;
  }
  .mdv_col > .mdv_cell.large-11 {
    height: 91.666%;
  }
  .mdv_col > .mdv_cell.large-12 {
    height: 100%;
  }
  .mdv_col > .mdv_cell.large-auto {
    flex: 1 0 auto;
    height: unset;
  }
  .mdv_col > .mdv_cell.large-shrink {
    flex: 0 1 auto;
    height: unset;
  }
}
.mdv_col.malign-start {
  justify-content: flex-start;
}
.mdv_col.malign-end {
  justify-content: flex-end;
}
.mdv_col.malign-center {
  justify-content: center;
}
.mdv_col.malign-around {
  justify-content: space-around;
}
.mdv_col.malign-between {
  justify-content: space-between;
}
.mdv_col.salign-start {
  align-items: flex-start;
}
.mdv_col.salign-end {
  align-items: flex-end;
}
.mdv_col.salign-center {
  align-items: center;
}
.mdv_col.salign-stretch {
  align-items: stretch;
}
.mdv_col.mdv_margin-row {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  height: calc(100% + (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell {
  height: calc(100% - (2 * 0.625rem));
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.mdv_col.mdv_margin-row > .mdv_cell.small-1 {
  height: calc(8.33% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-2 {
  height: calc(16.66% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-3 {
  height: calc(25% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-4 {
  height: calc(33.333% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-5 {
  height: calc(41.666% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-6 {
  height: calc(50% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-7 {
  height: calc(58.333% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-8 {
  height: calc(66.666% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-9 {
  height: calc(75% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-10 {
  height: calc(83.333% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-11 {
  height: calc(91.666% - (2 * 0.625rem));
}
.mdv_col.mdv_margin-row > .mdv_cell.small-12 {
  height: calc(100% - (2 * 0.625rem));
}
@media print, screen and (min-width: 800px) {
  .mdv_col.mdv_margin-row > .mdv_cell.medium-1 {
    height: calc(8.33% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-2 {
    height: calc(16.66% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-3 {
    height: calc(25% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-4 {
    height: calc(33.333% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-5 {
    height: calc(41.666% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-6 {
    height: calc(50% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-7 {
    height: calc(58.333% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-8 {
    height: calc(66.666% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-9 {
    height: calc(75% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-10 {
    height: calc(83.333% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-11 {
    height: calc(91.666% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.medium-12 {
    height: calc(100% - (2 * 0.625rem));
  }
}
@media print, screen and (min-width: 1200px) {
  .mdv_col.mdv_margin-row > .mdv_cell.large-1 {
    height: calc(8.33% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-2 {
    height: calc(16.66% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-3 {
    height: calc(25% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-4 {
    height: calc(33.333% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-5 {
    height: calc(41.666% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-6 {
    height: calc(50% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-7 {
    height: calc(58.333% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-8 {
    height: calc(66.666% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-9 {
    height: calc(75% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-10 {
    height: calc(83.333% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-11 {
    height: calc(91.666% - (2 * 0.625rem));
  }
  .mdv_col.mdv_margin-row > .mdv_cell.large-12 {
    height: calc(100% - (2 * 0.625rem));
  }
}
.mdv_col.mdv_padding-row .mdv_cell {
  padding: 0.625rem calc(0.625rem / 2);
}

.mdv_text-center {
  text-align: center;
}

.mdv_text-right {
  text-align: right;
}

.mdv_text-left {
  text-align: left;
}

.mdv_text-justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.normal {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.hidden, .hidden-at-loading {
  display: none;
}

@media print, screen and (max-width: 800px) {
  .hide-for-small, .show-for-medium, .show-for-large {
    display: none;
  }
}
@media print, screen and (min-width: 800px) and (max-width: 1200px) {
  .hide-for-small, .hide-for-medium, .show-for-large {
    display: none;
  }
}
@media print, screen and (min-width: 1200px) {
  .hide-for-small, .hide-for-medium, .hide-for-large {
    display: none;
  }
}

/*# sourceMappingURL=modev.css.map */
